body {
    background-color:white ; /* 背景色をカーキに設定 */
}

button{
    background-color:ghostwhite;
}

.step{
    background-color:blueviolet;
}

.tab{
    background-color:rgba(255, 182, 193, 0.549);
}

.step.active{
    background-color:rgb(91, 255, 50)
}

.step.finish{
    background-color:rgb(23, 8, 245)
}